@{
  Layout = "_Layout";
}

<h1>Welcome to the Bakery!</h1>

<p>@Html.ActionLink("See all employees", "Index", "Employees")</p>
<p>@Html.ActionLink("See all,view all ", "Index", "ViewAll")</p>
<p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Add new TF kind", "Create", "TreatFlavor")</p>
<p>@Html.ActionLink("See all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
